<div
  class="page-header"
  data-parallax="true"
  style="background-image: url('./assets/img/sibate5.jpg')"
>
  <div class="filter"></div>
  <div class="container">
    <div class="motto text-center">
      <h1>Sobre nosotros</h1>
      <br />
      <a
        href="https://youtu.be/FGZK7HT25eA"
        class="btn btn-outline-neutral btn-round"
        ><i class="fa fa-play"></i>Ver video</a
      >
    </div>
  </div>
</div>
<div class="main">
  <div class="section text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mr-auto ml-auto">
          <h2 class="title">Quienes somos?</h2>
          <h5 class="description">
            Somos una plataforma cuya intención es apoyar al desarrollo del 
            municipio de Sibaté mediante la promoción de las organizaciones sibateñas, 
            utilizando para ello una plataforma sencilla y completa que pueda brindar a 
            todos los visitantes o interesados la información que neseciten.
          </h5>
          <br />
        </div>
        <div class="col-md-8 mr-auto ml-auto">
          <h2 class="title">¿Qué hacemos?</h2>
          <h5 class="description">
            El portal turístico y comercial de Sibaté, es una plataforma pensada
            para ofrecer a todos aquellos interesados en el municipio una forma 
            atractiva de interactuar con el: mediante las organizaciones que se 
            encuentran en su territorio, dichas organizaciones han manifestado 
            su intención de formar parte de la plataforma con el fin de poder 
            darse a conocer frente a todas las personas que se interesen en su actividad, 
            planeen realizar visitas a los establecimientos o bien tengan la intención 
            de establecer relaciones comerciales. Para ello contamos con dos funcionalidades 
            principales:
          </h5>
          <br />
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-4">
          <div class="info">
            <div class="icon">
              <i class="nc-icon nc-tile-56"></i>
            </div>
            <div class="description">
              <h5 class="info-title">Organizaciones</h5>
              <br />
              <p class="description">
                Queremos que las organizaciones del municipio puedan brindar información 
                que sea relevante para sus interesados, es por ello que ofrecemos 
                la oportunidad de que sean ellos mismos los que destaquen sus cualidades y 
                brinden canales de comunicación mediante los cuales contactarlos o estar al
                dia en todas las actividades que lleguen a realizar.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="info">
            <div class="icon">
              <i class="nc-icon nc-shop"></i>
            </div>
            <div class="description">
              <h5 class="info-title">Mercado virtual</h5>
              <br />
              <p>
                Las organizaciones pueden solicitar en la plataforma la opción de ingresar en el mercado virtual, 
                en donde cada una de las organziaciones aceptadas tendrá un listado
                de sus productos con información util para sus compradores, estos una vez hayan realizado 
                sus pedidos, podrán establecer una comunicación con el vendedor y continuar con el proceso 
                de compra de forma directa.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
        </div>
      </div>
    </div>
  </div>

  <div class="section text-center">
    <div class="container">
      <h2 class="title">El municipio de Sibaté</h2>
      <div class="row">
        <div class="col-sm-10 mr-auto ml-auto">
        <h5 class="description">
          Sibaté en lengua muisca significa derrame de la laguna “Xiuaté”, de
          ahí tomaron el nombre con el que se conoce hoy en día a uno de los
          Municipios más prósperos del Departamento de Cundinamarca. <br />
        </h5>
        <div class="carousel">
          <ngb-carousel>
            <ng-template ngbSlide>
              <img
                src="./assets/img/sibate4.jpg"
                alt="Vista del casco urbano"
              />
              <div class="carousel-caption">
                <p>Vista del casco urbano</p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <img
                src="./assets/img/sibate21.JPG"
                alt="Embalse del muña"
              />
              <div class="carousel-caption">
                <p>Embalse del muña</p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <img
                src="./assets/img/sibate15.jpg"
                alt="Paisaje tipico sibateño"
              />
              <div class="carousel-caption">
                <p>Paisaje tipico sibateño</p>
              </div>
            </ng-template>
          </ngb-carousel>
        </div>

        <h5 class="description">
          El municipio de Sibaté se encuentra ubicado a 27 kilómetros al sur de
          Bogotá Ciudad Capital de Colombia; hace parte de la Sabana Sur
          Occidental y sus vías de acceso están en perfectas condiciones de
          desplazamiento y no presentan inconvenientes de movilización. Colinda
          en el Norte con el Municipio de Soacha, en el Sur con Pasca y
          Fusagasugá, por el Oriente con Soacha y por el Occidente con Silvana y
          Granada. Sibaté cuenta con una población aproximada de 38.000
          habitantes distribuidos en 14 veredas y 14 barrios, una temperatura
          promedio de 14 °C y registra una altura de 2.700 metros sobre el nivel
          del mar.
        </h5>

        <a href="http://www.sibate-cundinamarca.gov.co/MiMunicipio/Paginas/Informacion-del-Municipio.aspx" class="btn btn-link btn-primary">Conoce más</a>
      </div>
    </div>
    </div>
  </div>
</div>
