<div class="wrapper">
  <div class="landing-section">
    <div class="container">
      <div class="polas-title">Testimonios</div>
      <hr class="yellow" />
      <div class="img-container mt-5">
        <img
          src="./assets/img/testimonios/chelarte-logo.png"
          width="20%"
          height="auto"
        />
      </div>
      <div class="img-container mt-2">
        <img
          src="./assets/img/testimonios/chelarte.jpeg"
          width="80%"
          height="auto"
        />
      </div>

      <div class="row recipe-text text-container">
        <div class="col-md-6">
          Es la cervecería que bautiza todas sus recetas con nombre de mujer
          -Pamela, Carmela, Zenaida y más. <br />
          Después de 9 años de trabajo, Chelarte abrió su propio bar con miras a
          fomentar la cultura cervecera local, a partir de catas. Ha aumentado
          también sus referencias. Incluso tiene algunas fórmulas de temporada
          (Petrona, Débora y Tábata) han ganado medallas en eventos como el más
          reciente Festival de Cerveceros Artesanales.
          <br />
          <br />
          En su oferta están Pamela, tipo summer ale, refrescante, fácil de
          tomar; Raquel, pale ale, de más carácter, sabor afrutado; Carmela,
          brown ale, armoniza notas acarameladas y lúpulo afrutado; Zenaida,
          oatmeal stout, negra, con notas a chocolate y café; Naari, India Pale
          Ale, con aroma de frutas tropicales como maracuyá y mango.
        </div>
        <div class="col-md-6">
          Durante tiempos de aislamiento, llevaron su oferta a las redes
          sociales y además de domicilios, han diseñado catas virtuales grupales
          y personalizadas. “Nos ha gustado estar en las casas de la gente
          -manifiesta Camilo Rojas, uno de sus fundadores-.
          <br />
          Sus preguntas e intereses ratifican que la cerveza artesanal despierta
          mucho interés y genera nuevos momentos de consumo en la casa, cuando
          siempre se había pensado que solo era posible en bares”.
          <br />
          <br />
          Pedidos y catas virtuales: 310 5612862 o en redes sociales: Instagram:
          @chelarte. Facebook: Chelarte cerveza artesanal.
        </div>
      </div>

      <div class="img-container mt-5">
        <img
          src="./assets/img/testimonios/LaRojaLogo.png"
          width="25%"
          height="auto"
        />
      </div>
      <div class="img-container mt-2">
        <img
          src="./assets/img/testimonios/la-roja.jpg"
          width="80%"
          height="auto"
        />
      </div>

      <div class="row recipe-text text-container">
        <div class="col-md-6">
          (ANSA) - BOGOTA, 17 NOV - "La Roja" es el nombre de la cerveza
          artesanal que ex combatientes de las Fuerzas Armadas Revolucionarias
          de Colombia (FARC) producen como proyecto de paz y cuyo éxito los está
          desbordando.
          <br />
          &nbsp; Se trata de una cerveza tipo Ale, de color rojo y sabor amargo
          que se produce en el denominado Espacio Territorial de Capacitación y
          Reincorporación (ETCR) Antonio Nariño, de Icononzo, departamento
          Tolima, a 124 kilómetros al sur de Bogotá.
          <br />
          &nbsp; Los ETCR son 24 espacios que el Estado le asignó a los ex
          rebeldes como un lugar de asentamiento desde el cual emprenden
          negocios que van desde el turismo de aventuras, pasando por
          confecciones, hasta la cerveza que produce 24 exguerrilleros.
          <br />
          &nbsp; "La Roja" empezó a producirse hace más de un año de manera
          artesanal, primero en fermentadores de plástico y desde hace seis
          meses en una pequeña planta que apenas les permite producir mil litros
          cada mes, lo que se traduce en 2.700 botellas.
          <br />
          &nbsp; La producción se la pelean algunos bares alternativos en Bogotá
          y se consume en días, de manera que el éxito los está desbordando,
          como lo admite José Nicolás Hurtado, que en su vida de guerrillero se
          hacía llamar "Carlos Alberto" y que ahora es uno de los líderes de la
          iniciativa.
          <br />
          &nbsp; "El sueño es poder a partir de esa proyecto generar unas
          condiciones de vida digna, no para uno o dos sino que esto sea un
          proyecto productivo de las comunidades y de nosotros", manifestó
          Hurtado en diálogo con ANSA
          <br />
          &nbsp; Se quejó de la falta de apoyo del Estado, que según dijo, no ha
          invertido "un solo peso" en la cervecería, que necesita de unos 100
          mil dólares, según sus cálculos, para adecuar el lugar de producción,
          comprar una nueva planta y arreglar otra que tiene averías. Hurtado
          suele llevar puesta una gorra de color verde con una estrella roja
          sobre la visera, es gentil y su discurso es ahora el de un
          microempresario: habla de clientes, producción, crowdfunding,
          sostenibilidad financiera, empresa.
        </div>
        <div class="col-md-6">
          &nbsp; "Todo se vende. Tenemos una sobredemanda, tenemos pedidos para
          3000 a 4000 litros y estamos produciendo 1000. Ha sido muy difícil
          porque mucha gente quiere que le enviemos la cerveza y no hemos
          podido".
          <br />
          &nbsp; Su temor es que "la gente o se resiente o termine diciendo eso
          no se consigue y se pierden clientes que se quisieran potenciar; ese
          es el miedo de nosotros, porque se ha generado una gran expectativa,
          hemos tenido muy buena acogida".
          <br />
          &nbsp; El nombre de La Roja surgió de la práctica muy propia de las
          antiguas Fuerzas Armadas Revolucionarias de Colombia (FARC) de
          discutir entre ellos sus planes y decisiones.
          <br />
          &nbsp; Hurtado sostiene que cuando llegó el momento de registrar la
          marca para sacarla al mercado surgieron varios nombres para la
          cerveza: La Guerrillera, Marquetalia y Río Chiquito, todos en
          referencia directa a los orígenes del grupo rebelde.
          <br />
          &nbsp; "Hasta que un compañero dijo que el nombre era La Roja porque
          apelaba a lo que ha sido nuestra historia, a la lucha revolucionaria,
          pero no es tan comprometedor para que se diga que es un proyecto con
          carga política", sostuvo. Admitió que al interior de las antiguas FARC
          no se bebía cerveza, ni fue allá donde aprendieron a hacerla, fue un
          amigo suyo quien les enseñó, tras la firma de la paz, a producir la
          bebida de manera artesanal.
          <br />
          &nbsp; "La Roja se ha venido convirtiendo en una oportunidad de
          trabajo y de echar para adelante un proyecto productivo que tiene
          salida, que ha tenido aceptación en la comunidad, en la que gente nos
          ha apoyado", afirmó Hurtado. (ANSA).
        </div>
      </div>

      <div class="img-container mt-5">
        <img
          src="./assets/img/testimonios/LaTrochaL.png"
          width="25%"
          height="auto"
        />
      </div>
      <div class="img-container mt-5">
        <img
          src="./assets/img/testimonios/trocha-testimonios.jpg"
          width="80%"
          height="auto"
        />
      </div>

      <div class="row recipe-text text-container">
        <div class="col-md-6">
          Una cerveza artesanal que representa al campo y la ciudad, las
          historias que se van haciendo en el camino, pero que también es el
          anhelo de reintegración por el que están trabajando diez
          exguerrilleros de las Farc reincorporados. Eso es La Trocha, una
          cerveza tipo Ale Porter con 5.5% de alcohol producida en Bogotá por un
          grupo de excombatientes, la mayoría de los cuales salió de prisión. La
          cerveza es su nuevo proyecto de vida. Doris Suárez, una de las líderes
          de la iniciativa, contó que esto también es una idea para que la gente
          conozca otra cara de la “comunidad fariana”, de todas las personas que
          decidieron desmovilizarse y siguen trabajando por la construcción de
          paz, pese a las adversidades. Alexander Monroy, otro de los
          excombatientes que participa del proyecto, contó que este ha sido un
          trabajo “producto de mucha fuerza y disciplina. Apesar del
          incumplimiento a los acuerdos de paz, la desazón e inseguridad,
          seguimos comprometidos y tratando de sacar esto adelante”, expresó.
          Añadió que en el camino de consolidar La Trocha han contado con el
          apoyo de muchas personas, civiles, excombatientes y la academia,
          comenzando por las personas que desde el principio se ofrecieron a
          enseñarles a elaborar cerveza artesanal.
        </div>
        <div class="col-md-6">
          Inicialmente, contó Suárez, el grupo de reincorporados pensó que su
          proyecto productivo podía ser elaborar productos orgánicos, entre
          otros, “pero unas personas de Ubaté (Cundinamarca) nos llamaron y
          dijeron que nos podían enseñar a hacer cerveza, éramos 5 personas en
          ese momento. Allá aprendimos y así comenzó todo”, explicó. Aunque
          desde enero de este año se puso en marcha todo el proyecto, y tenían
          un estimado poner en el mercado 250 cajas al mes, la pandemia de
          coronavirus ha afectado las posibilidades de distribución de La
          Trocha, porque la mayoría de restaurantes y bares han estado cerrados.
          El grupo está impulsando la comercialización de la cerveza a través de
          redes sociales, y gracias a algunas alianzas La Trocha ya se vende,
          además de Bogotá, en Medellín y Cali. Están haciendo domicilios y
          tienen alianza con Mercados Campesinos. Además, dijo Suárez, tienen el
          proyecto de ensayar otro tipo de cerveza, aunque el coronavirus ha
          frenado esos planes también porque no pueden desplazarse hasta Ubaté,
          en donde está la planta de producción.
        </div>
      </div>

      <div class="img-container mt-5">
        <img
          src="./assets/img/testimonios/Wicca-Logo.png"
          width="25%"
          height="auto"
        />
      </div>
      <div class="img-container mt-5">
        <img
          src="./assets/img/testimonios/wicca-testimonios.jpg"
          width="80%"
          height="auto"
        />
      </div>

      <div class="row recipe-text text-container">
        <div class="col-md-6">
          Wicca significa mujer sabia, el papel de la mujer en el gremio
          cervecero no es valorado como antes, en la antigüedad; en ese entonces
          realmente las que iniciaron cocinando fueron las mujeres y todo el
          concepto de brujas que conocemos en la actualidad viene de la mujer
          cervecera, ellas usaban sombreros de picos altos en el mercado y eso
          significaba que ellas producían cerveza y así mismo que tenían cerveza
          disponible, la escoba la empleaban en las puertas de sus casas para
          que cuando la gente pasara entendieran que había cerveza en esa casa,
          tenían gatos para que cuidaran las maltas. Las fundadoras de Wicca
          buscan contar la historia de las brujas, sus botellas son pequeñas
          posiciones donde la gente va a poder disfrutar del hechizo de cada
          cerveza. El concepto de brujas se originó debido a que en ese momento
          se le prohibió a las mujeres hacer cerveza, según Leidy Rincón,
          cofundadora de la cerveza, la elaboración de esta bebida es fácil,
          utilizan cuatro ingredientes básicos: Agua, levadura, malta, lúpulo;
          también tienen cervezas que poseen características especiales y
          utilizan fruta, al probar se encuentra un balance entre todos los
          ingredientes, ¡La pócima perfecta!.
        </div>
        <div class="col-md-6">
          Entre todas las cervezas, existe una en especial, se trata de una
          Catarina Sour, es una cerveza que acidifica con lactobacilos y con
          fruta es una experiencia nueva y diferente que está arrancando en el
          país. La botella emplea una forma muy diferente a los envases comunes
          que conocemos del mercado, tiene una forma de poción. Con sus cervezas
          buscan empoderar a las mujeres y su histórico papel en la industria
          cervecera. En Bogotá, en diversos lugares como el “Jardín Cervecero”
          de cervecería Milagrosa se puede encontrar la variedad de Wiccas
          conectadas en los grifos. Las cervezas artesanales Wicca cautivan con
          su sabor, color y aroma, son ideales para disfrutar en cualquier
          momento o bajo la luna llena. ¡Vivan las brujas cerveceras!
        </div>
      </div>

      <div class="img-container mt-5">
        <img
          src="./assets/img/testimonios/ApacheLogo.png"
          width="25%"
          height="auto"
        />
      </div>
      <div class="img-container mt-5">
        <img
          src="./assets/img/testimonios/apache-testimonios.jpg"
          width="80%"
          height="auto"
        />
      </div>

      <div class="row recipe-text text-container">
        <div class="col-md-6">
          Apache es una marca de cerveza artesanal inspirada en estilos
          americanos, demuestra fuerza, presencia y cuenta con una identidad
          visual contundente, así lo definió Christian Garcia creador de la
          marca. Para hablar de la historia de Hakuna es necesario hablar de la
          pasión de Christian García por la cerveza artesanal, en el 2017 empezó
          a trabajar de manera no remunerada en una cervecería llamada “Ritual”
          para aprender más del negocio cervecero, empezó a conocer personas que
          se dedicaban a hacer cerveza de una manera muy empírica y juntos
          fundaron “El club de cerveceros artesanales del valle”. Los miércoles
          cada ocho días Carlos dueño de la cervecería, les daba charlas acerca
          del quehacer cervecero, empezaron por ingredientes de la cerveza
          entonces primer miércoles de malta luego agua, lúpulo, levadura;
          después empezamos a pasar a procesos, hablaban de maceración y así de
          diferentes temas relacionados. Christian se va a Chile para aprender
          sobre la elaboración de cerveza, al volver a Cali ya tienen una
          cervecería con una estructura y personal, después en compañía de otras
          personas empiezan a enseñar a la gente en calle cómo hacer cerveza,
          porque qué mejor manera que crear cultura y conocimiento en la ciudad.
          En el 2017 crean los cursos de cervecería, empiezan a reclutar
          cerveceros caseros, crear cultura, hacer reuniones y a hacer concursos
          de cervecería y luego ya metimos a unos cuantos cursos de cervezas por
          estilos, con el tema de la experiencia de ser juez y el tema del
          análisis sensorial también involucramos cursos de análisis sensorial
          que va a interrumpir allí porque quiero que la gente se dé cuenta lo
          bonito que es este mundo de las
        </div>
        <div class="col-md-6">
          empresas artesanales en realidad no estabas pensando en el negocio o
          no estabas pensando en que vos ibas a ser la cervecería de cali las
          vendía artesanal de cal por estar diciendo hermano esto es una nota yo
          me contestó en chile aceite uno de cuantos andreo tengo tiempo
          estudiando me está gustando el gremio me está gustando el sabor me
          está gustando las características de etcétera y te pones a enseñarle a
          la gente pura bacanería al del cerveza esto se parece mucho a lo que
          nos hemos soñado el mundo de la cerveza artesanal solo es como una
          hermandad es como una mejora muy rara nos juntamos los hervideros a
          tomar cerveza me llama paula me avala no hay ganas que me regale nota
          de un momentico me regalan otra pero pero eso es así como yo lo estoy
          diciendo ya es un amor por extraño que uno como que no entiende por
          qué digo ayer cuando arrancamos con el tema de enseñarle a cali y sus
          alrededores hacer cerveza yo todavía no estaba pues como en el tema
          llaman magdalena no me ha metido en el tema comercial seguía siendo
          brewer y si nos juntábamos hablamos de cerveza compartíamos la gente
          llevaba su cerveza las probamos y empezamos una irregular hermandad y
          éramos primero frei fuimos carlos y yo y luego llegó con un amigo y
          luego llegó otro y luego otro y empezamos a hacer cursos empezó a
          llegar gente de acá de cali palmira buga tuluá y nos llegaba gente
          juanchi no bastante llegaba gente de pasto a tomar los cursos
          levantarse que venir de nei índio huila pereira de muchos lugares
          llegaban a tomar el curso y empezamos a crear una comunidad neutro
          hermandad donde compartimos conocimiento
        </div>
      </div>

      <div class="img-container mt-5">
        <img
          src="./assets/img/testimonios/logo_center.png"
          width="25%"
          height="auto"
        />
      </div>
      <div class="img-container mt-5">
        <img
          src="./assets/img/testimonios/hakuna-testimonio.jpg"
          width="80%"
          height="auto"
        />
      </div>

      <div class="row recipe-text text-container">
        <div class="col-md-6">
          Los gerentes de Hakuna beer, se conocieron en un curso de cerveza con
          el objetivo de hacer cerveza en casa como un gusto personal y el deseo
          de compartirla con cercanos. Gracias a que uno de los creadores es
          diseñador, fueron surgiendo los nombres de las cervezas, sin embargo
          aún no tenían conocimiento de qué tipo serían. El primer espacio con
          el que contaron para producir la bebida fue en el café Hakuna ubicado
          en San Antonio de Prado, negocio perteneciente al padre de uno de los
          creadores. El inicio de este emprendimiento fue algo muy emotivo
          debido a que siempre contaron con mucho apoyo y a pesar de que fue un
          proceso lento siempre estuvo esta gran iniciativa
        </div>
        <div class="col-md-6">
          La primera cerveza fue una american pale ale que posteriormente sería
          categorizada en blonde ale con durazno, decidieron empezar a intentar
          con cervezas rubias debido a que solo usaban un tipo de malta; además
          de esto uno de los objetivos de los creadores era generar cervezas con
          sabores no convencionales.
        </div>
      </div>
    </div>
  </div>
</div>
