<div class="wrapper">
  <div class="landing-section">
    <div class="container login-container">
      <div class="row">
        <div class="col-md-6 login-form-2 mx-auto d-block">
          <img
            src="https://i.postimg.cc/Dzj8Vhm8/logo.png"
            class="rounded mx-auto d-block"
            width="300"
          />
          <form
            class="text-white"
          >
            <div class="form-group">
              <label>Correo electrónico</label>
              <input
                type="text"
                formControlName="email"
                class="form-control"
                placeholder="Correo electrónico *"
              />
            </div>

            <div class="form-group">
              <label>Contraseña</label>
              <input
                type="password"
                formControlName="password"
                class="form-control"
                placeholder="Contraseña *"
              />
            </div>
            <div class="form-group text-center mt-5">
              <a  class="btn btn-x" href="/checkout">Iniciar sesión</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
