<div class="wrapper">
  <div class="landing-section">
    <div class="container">
      <div class="recipe-title">Recetas poderosas</div>
      <h4 class="recipe-subtitle m-2 mb-5">
        La receta perfecta si existe solo tienes que encontrarla
      </h4>
    </div>
    <div
      class="page-header page-header-small"
      data-parallax="true"
      style="background-image: url('./assets/img/recetas/papas-salsa.jpg')"
    ></div>
    <div class="title">Papas en salsa de cerveza</div>
    <div class="container">
      <hr class="yellow" />
      <div class="recipe-text mb-3">
        Deliciosa guarnición de papas a la cerveza, ideales para acompañar
        alguna carne jugosa.
      </div>
      <div class="subtitle mt-5">Ingredientes</div>
      <img
        src="./assets/img/recetas/papas-salsa-ingredientes.png"
        class="mx-auto d-block"
        width="90%"
        alt="Ingredientes chuletas"
      />
      <div class="subtitle mt-5">Preparación</div>
      <div class="recipe-text mt-4">
        <b>Para las papitas</b>
        <ol class="mt-2">
          <li>
            Toma las papas fritas y ponlas a freír a 180 grados hasta que tomen
            color.
          </li>
          <li>Retiralas y agregales sal y queso parmesano</li>
        </ol>
        <b>Para la salsita</b>
        <ol class="mt-2">

          <li>
            En un recipiente agrega la mayonesa, el ajo asado y picado, la
            mostaza, la miel y la cerveza Dorada de Sánchez, mezcla hasta lograr
            una salsa homogénea.
          </li>
        </ol>
        <b>Finalmente, ¡Disfruta!</b>
      </div>
    </div>
  </div>
</div>
