<div class="wrapper">
  <div class="landing-section">
    <div class="container">
      <div class="polas-title">Casas Cerveceras</div>
      <hr class="yellow" />

      <div class="row recipe-text text-container">
        <div class="col-md-6">
          <div class="img-container">
            <img
              src="./assets/img/polas/sultana-logo.png"
              width="90%"
              height="auto"
            />
          </div>
        </div>
        <div class="col-md-6 mt-5">
          Cervecería Artesanal SULTANA S.A.S. nace en la ciudad de Cali en el
          año 2016, se crea con la misión de generar una cerveza artesanal para
          personas de una cultura globalizada, pero con una identidad propia;
          para personas que más que consumir alcohol, estén en la búsqueda de
          apreciar y disfrutar una buena cerveza en compañía de sus familiares y
          amigos. Es el sueño de Sultana convertirse en la cervecería artesanal
          de los Caleños, así como Bogotá tiene el BBC y Medellín Apóstol y 3
          Cordilleras. SULTANA es una empresa, con un alto espíritu de
          responsabilidad social empresarial y ambiental. SULTANA inicialmente
          tendrá 3 sabores diferentes IRISH EXTRA STOUT (Bororo), BELGIAN BLONDE
          (Morronga), BELGIAN PALE ALE (Calidosa).
        </div>
      </div>
    </div>
  </div>
</div>
