.login-container {
  margin-top: 5%;
  margin-bottom: 5%;
}

.login-form-2 {
  padding: 5%;
  background: #E84565;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}



.login-container form {
  padding: 10%;
}
.login-form-2 .ForgetPwd {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}


.invalid-feedback {
  font-size: 13px;
}

.text-white {
  color: white;
}
