<div class="wrapper">
  <div class="landing-section">
    <div class="container recipe-text">
      <div class="row cheese-container">
        <div class="col-md-6 m-5">
          <div
            class="recipe-title m-5 "
            style="line-height: 0.9; text-align: left"
          >
            Con Queso
          </div>
        </div>
        <div class="col-md-4 mb-5">
          <div class="rotate-img">
            <img
              src="./assets/img/choco-queso/con-queso.png"
              width="200%"
              height="auto"
            />
          </div>
        </div>
      </div>

      <div class="row bg-yellow cheese-container">
        <div class="col-md-6">
          <div class="img-container">
            <img
              src="./assets/img/choco-queso/queso-brie.jpg"
              width="85%"
              height="auto"
            />
          </div>
        </div>
        <div class="col-md-6">
          <h6 class="cheese-name"><b>Queso brie - Wheat Ale</b></h6>

          Las cervezas tipo WHEAT ALE se elaboran añadiendo grandes cantidades
          de trigo a la mezcla de cebada. Suelen tener bajo contenido de alcohol
          y son ideales para calmar la sed. Este estilo de cerveza marida muy
          bien con quesos frescos y de maduración suave por su sabor suave y de
          contextura cremosa.
        </div>
      </div>

      <div class="row bg-yellow mt-2 cheese-container">
        <div class="col-md-6 mt-5">
          <h6 class="cheese-name"><b>Queso cheddar- Pale Ale</b></h6>

          El queso Cheddar es un queso inglés el cual tiene mínimo 4 meses de
          maduración en cava. Es un ingrediente que nunca falta cuando se hacen
          comidas rápidas como las hamburguesas. Es por esto, que este tipo de
          quesos hacen un maridaje perfecto con las cervezas tipo Pale Ale.
        </div>
        <div class="col-md-6 mt-2">
          <div class="img-container">
            <img
              src="./assets/img/choco-queso/queso-cheddar.jpg"
              width="85%"
              height="auto"
            />
          </div>
        </div>
      </div>

      <div class="row bg-yellow mt-2 cheese-container">
        <div class="col-md-6 mt-2">
          <div class="img-container">
            <img
              src="./assets/img/choco-queso/camembert.jpg"
              width="85%"
              height="auto"
            />
          </div>
        </div>
        <div class="col-md-6 mt-5">
          <h6 class="cheese-name"><b>Queso camembert- Rosé</b></h6>

          Las cervezas tipo Rosé se caracterizan por tener sabores afeitados
          (frutos rojos) y su frescura natural. Tienen efervescencia y toques
          cítricos que le dan un balance perfecto. Este tipo de cervezas maridan
          muy bien con los quesos de cabra, el queso Camember y el queso Brie.
        </div>
      </div>

      <div class="row bg-yellow mt-2 cheese-container">
        <div class="col-md-6 mt-5">
          <h6 class="cheese-name"><b>Queso roquefort- Scottish Ale</b></h6>

          Las cervezas estilo Scottish Ale se caracterizan por tener mucho
          cuerpo, y por ser elaboradas con gran cantidad de maltas
          caramelizadas. En su elaboración tienen menos agregado de lúpulos y,
          por lo tanto, son menos amargas y tienen más sabor a malta, es por
          eso, que este estilo de cervezas hacen un maridaje Perfecto con quesos
          de oveja envejecidos o ahumados.
        </div>
        <div class="col-md-6 mt-2">
          <div class="img-container">
            <img
              src="./assets/img/choco-queso/queso-roquefort.jpg"
              width="85%"
              height="auto"
            />
          </div>
        </div>
      </div>

      <div class="row bg-yellow mt-2 cheese-container">
        <div class="col-md-6 mt-2">
          <div class="img-container">
            <img
              src="./assets/img/choco-queso/Gruyere.jpg"
              width="85%"
              height="auto"
            />
          </div>
        </div>
        <div class="col-md-6 mt-5">
          <h6 class="cheese-name"><b>Queso gruyere - Porter</b></h6>

          Las cervezas tipo Porter se caracterizan por el uso de Malta de cebada
          tostada. Son muy oscuras, algunas son casi negras y suelen tener notas
          a café, cacao o tonos tostados. Las cervezas tipo Porter marindan muy
          bien con los quesos Gruyere y Comté añejados, teniendo en cuenta las
          notas tostadas de las cervezas.
        </div>
      </div>

      <div class="row bg-yellow mt-2 cheese-container">
        <div class="col-md-6 mt-5">
          <h6 class="cheese-name"><b>Queso cottage- Porter</b></h6>

          Las cervezas tipo Porter se caracterizan por el uso de Malta cebada
          tostada. Son muy oscuras, algunas casi negras y suelen tener notas a
          café, cacao o tonos tostados. Las cervezas tipo Porter maridan muy
          bien con los quesos Cottage, teniendo en cuenta las notas tostadas de
          las cervezas.
        </div>
        <div class="col-md-6 mt-2">
          <div class="img-container">
            <img
              src="./assets/img/choco-queso/queso-cottage.jpg"
              width="85%"
              height="auto"
            />
          </div>
        </div>
      </div>

      <div class="row bg-yellow mt-2 cheese-container">
        <div class="col-md-6 mt-2">
          <div class="img-container">
            <img
              src="./assets/img/choco-queso/queso-azul.jpg"
              width="85%"
              height="auto"
            />
          </div>
        </div>
        <div class="col-md-6 mt-5">
          <h6 class="cheese-name"><b>Queso azul - IPA</b></h6>

          Los quesos azules se caracterizan por tener un sabor fuerte, tienden a
          ser picantes y algo salados, haciéndolos el compañero ideal para las
          cervezas tipo IPA, pues se crea un maridaje de realce ya que el
          amargor propio de este tipo de cervezas potencia la sensación del
          picante en la boca, a la vez que el picante potencia el sabor amargo
          de la cerveza.
        </div>
      </div>

      <div class="row bg-yellow mt-2 cheese-container">
        <div class="col-md-6 mt-5">
          <h6 class="cheese-name"><b>Queso mascarpone- Wheat</b></h6>

          Las cervezas tipo Wheat se elaboran añadiendo grandes cantidades de
          trigo a la mezcla de cebada. Suelen tener bajo contenido de alcohol y
          son ideales para calmar la sed. Este tipo de cerveza maridan muy bien
          con quesos frescos y de maduración suave por su sabor sutil y
          contextura cremosa.
        </div>
        <div class="col-md-6 mt-2">
          <div class="img-container">
            <img
              src="./assets/img/choco-queso/mascarpone.jpg"
              width="85%"
              height="auto"
            />
          </div>
        </div>
      </div>

      <div class="row bg-yellow mt-2 cheese-container">
        <div class="col-md-6 mt-2">
          <div class="img-container">
            <img
              src="./assets/img/choco-queso/quesocrema.jpg"
              width="85%"
              height="auto"
            />
          </div>
        </div>
        <div class="col-md-6 mt-5">
          <h6 class="cheese-name"><b>Queso crema</b></h6>

          Al ser cervezas cuyo contenido de alcohol se sitúa alrededor del 5% al
          5.5% ABV (alcohol por volumen). Maridan muy bien con quesos cremosos,
          frescos y de maduración suave o poco envejecidos (entre 4 y 8 meses).
        </div>
      </div>

      <div class="row bg-yellow mt-2 cheese-container">
        <div class="col-md-6 mt-5">
          <h6 class="cheese-name"><b>Queso holandés- Stout</b></h6>

          Las cervezas tipo Stout son conocidas por sus sabores tostados, a
          chocolate y caramelo, a la vez que son densas y cremosas. Este tipo de
          cervezas maridan muy bien con quesos semiduros y duros.
        </div>
        <div class="col-md-6 mt-2">
          <div class="img-container">
            <img
              src="./assets/img/choco-queso/queso-holandes.jpg"
              width="85%"
              height="auto"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
