<div class="wrapper">
    <div class="landing-section">
      <div class="container">
        <div class="recipe-title">Recetas poderosas</div>
        <h4 class="recipe-subtitle m-2 mb-5">
          La receta perfecta si existe solo tienes que encontrarla
        </h4>
      </div>
      <div
        class="page-header page-header-small"
        data-parallax="true"
        style="background-image: url('./assets/img/recetas/papas-borrachas.jpg')"
      ></div>
      <div class="title">Papas borrachas</div>
      <div class="container">
        <hr class="yellow" />
        <div class="recipe-text mb-3">
          Deliciosa guarnición de papas a la cerveza, ideales para acompañar alguna carne jugosa.
        </div>
        <div class="subtitle mt-5">Ingredientes</div>
        <img
          src="./assets/img/recetas/papas-borrachas-ingredientes.png"
          class="mx-auto d-block"
          width="90%"
          alt="Ingredientes chuletas"
        />
        <div class="subtitle mt-5">Preparación</div>
        <div class="recipe-text mt-4">
          <ol>
            <li>
              Cocina las papas en agua suficiente hasta que al introducir un palillo,
              salga con facilidad; escúrrelas, déjalas enfriar un poco, pélalas y rebánalas.
            </li>
            <li>
              Derrite la mantequilla en una cacerola y fríe el ajo y las papas,
              cuadno comiencen a dorar agrega el chile y la cerveza.
            </li>
            <li>
              Cuando el líquido se evapore, espolvorea el cilantro, rectifica la sazón,
              retira el fuego y sirve.
            </li>
          </ol>
          <b>Finalmente, ¡Disfruta!</b>
        </div>
      </div>
    </div>
  </div>
  