<div class="wrapper">
  <div class="landing-section">
    <div class="container">
      <div class="polas-title">Polas por la paz</div>
      <h4 class="recipe-subtitle m-2 mb-5">
        ¡Salud por la paz! Cervezas artesanales por parte de ex-combatientes de
        las FARC
      </h4>
    </div>
    <div
      class="page-header page-header-small"
      data-parallax="true"
      style="background-image: url('./assets/img/polas-paz/la-trocha.jpg')"
    ></div>
    <div class="title">La Trocha</div>
    <div class="container">
      <hr class="yellow" />

      <div class="recipe-text mt-4">
        La Trocha, una cerveza tipo Ale Porter con 5.5% de alcohol producida en
        Bogotá por un grupo de excombatientes, la mayoría de los cuales salió de
        prisión. La cerveza es su nuevo proyecto de vida.
        <br /><br />
        Doris Suárez, una de las líderes de la iniciativa, contó que esto
        también es una idea para que la gente conozca otra cara de la “comunidad
        fariana”, de todas las personas que decidieron desmovilizarse y siguen
        trabajando por la construcción de paz, pese a las adversidades.
        <br /><br />
        Alexander Monroy, otro de los excombatientes que participa del proyecto,
        contó que este ha sido un trabajo “producto de mucha fuerza y
        disciplina. Apesar del incumplimiento a los acuerdos de paz, la desazón
        e inseguridad, seguimos comprometidos y tratando de sacar esto
        adelante”, expresó.
      </div>
    </div>
  </div>
</div>
