<footer class="footer">
  <div class="container">
    <div class="row">
      <nav class="footer-nav">
        <hr class="red" />
        <div class="footer-logo">
          <img
            src="./assets/img/logo-holapola.png"
            class="center"
            alt="Logo Hola Pola"
          />
        </div>
        <p class="footer-text mt-3">
            El exceso de alcohol es perjudicial para la salud. Prohíbase el expendio de bebidas embriagantes a menores de edad.
        </p>
        <footer style="text-align: center"> Copyright &copy; 2021 All rights reserved</footer>

      </nav>
    </div>
  </div>
</footer>
