<div class="wrapper">
  <div class="landing-section">
    <div class="container">
      <div class="polas-title">Casas Cerveceras</div>
      <hr class="yellow" />

      <div class="row recipe-text text-container">
        <div class="col-md-6 mt-5">
          <div class="img-container">
            <img
              src="./assets/img/polas/chelarte-logo.png"
              width="70%"
              height="auto"
            />
          </div>
        </div>
        <div class="col-md-6">
          Somos una empresa bogotana que comenzó hace más de 9 años como
          resultado de una idea de emprendimiento con el objetivo de elaborar
          cerveza artesanal de la mejor calidad.
          <br />
          <br />
          En el 2007 Camilo Rojas empezó a hacer cerveza en su casa para poder
          disfrutar sabores únicos y con carácter, durante años perfeccionó el
          arte de hacer cerveza y comenzó a compartir con sus seres queridos y
          amigos sus mejores recetas cerveceras. En una de estas reuniones,
          conoció a Andrés Correal. Ambos se dieron cuenta de su pasión por la
          cerveza y la necesidad de compartirla; en 2011, decidieron embarcarse
          en la aventura más grande de sus vidas para llevar sus cervezas únicas
          y con mucha personalidad a todos los rincones del país.
          <br />
          <br />
          Nuestro compromiso es expandir los límites de la cerveza artesanal,
          ofreciendo altos estándares de calidad a través de la innovación y
          sobretodo mantener siempre el respeto por la cultura y tradición del
          arte cervecero.
        </div>
      </div>

      <div class="subtitle mt-5 mb-5">Conoce sus cervezas</div>

      <div class="row justify-content-center">
        <div class="card pola-card mr-5" style="border-radius: 15%">
          <div class="hovereffect-pola">
            <div class="card-title"></div>
            <img
              class="card-img-top"
              src="./assets/img/polas/carmela-chelarte.png"
              alt="Carmela"
            />

            <div class="card-body pola-card-body mt-4">
              <div class="row">
                <div class="col-md-9 col-sm-8 col-8 text-center">
                  <b class="pola-name">Carmela</b>
                </div>
                <div class="col-md-3 col-sm-4 col-4 cart-divider">
                  <i class="fas fa-shopping-cart"></i>
                </div>
              </div>
            </div>
            <div class="overlay">
              <h2>Carmela</h2>
              <div class="overlay-text">
                Estilo: <span style="color: black">Brown Ale</span>
                <br />
                Nivel de alcohol: <span style="color: black"> 5.0%</span>
                <br />
                Nivel de amargor IBU: <span style="color: black"> 30</span>
                <br />
                Amargor: <span style="color: black">Medio</span>
                <br />
                Casa Cervecera: <span style="color: black">Chelarte</span>
                <br />
                <br />
                Maridaje:
                <span style="color: black"
                  >Carnes rojas y postres con caramelo
                </span>
              </div>
            </div>
          </div>
        </div>
        <div
          class="card pola-card mr-5"
          style="width: 15rem; border-radius: 15%"
        >
          <div class="hovereffect-pola">
            <div class="card-title"></div>
            <img
              class="card-img-top"
              src="./assets/img/polas/Pamela_chelarte.png"
              alt="Pamela"
            />

            <div class="card-body pola-card-body mt-4">
              <div class="row">
                <div class="col-md-9 col-sm-8 col-8 text-center">
                  <b class="pola-name">Pamela</b>
                </div>
                <div class="col-md-3 col-sm-4 col-4 cart-divider">
                  <i class="fas fa-shopping-cart"></i>
                </div>
              </div>
            </div>
            <div class="overlay">
              <h2>Pamela</h2>
              <div class="overlay-text">
                Estilo: <span style="color: black">Summer Ale</span>
                <br />
                Nivel de alcohol: <span style="color: black"> 4,8%</span>
                <br />
                Nivel de amargor IBU: <span style="color: black"> 27</span>
                <br />
                Amargor: <span style="color: black">Bajo</span>
                <br />
                Casa Cervecera: <span style="color: black">Chelarte</span>
                <br />
                <br />
                Maridaje:
                <span style="color: black">Pastas y pescados </span>
              </div>
            </div>
          </div>
        </div>

        <div class="card pola-card mr-5">
          <div class="hovereffect-pola">
            <div class="card-title"></div>
            <img
              class="card-img-top"
              src="./assets/img/polas/naari-chelarte.png"
              alt="Naari"
            />

            <div class="card-body pola-card-body mt-4">
              <div class="row">
                <div class="col-md-9 col-sm-8 col-8 text-center">
                  <b class="pola-name">Naari</b>
                </div>
                <div class="col-md-3 col-sm-4 col-4 cart-divider">
                  <i class="fas fa-shopping-cart"></i>
                </div>
              </div>
            </div>
            <div class="overlay">
              <h2>Naari</h2>
              <div class="overlay-text">
                Estilo: <span style="color: black">Pale Ale</span>
                <br />
                Nivel de alcohol: <span style="color: black"> 6,1%</span>
                <br />
                Nivel de amargor IBU: <span style="color: black"> 27</span>
                <br />
                Amargor: <span style="color: black">Bajo</span>
                <br />
                Casa Cervecera: <span style="color: black">Chelarte</span>
                <br />
                <br />
                Maridaje:
                <span style="color: black">Comida picante </span>
              </div>
            </div>
          </div>
        </div>
        <div
          class="card pola-card mr-5"
          style="width: 15rem; border-radius: 15%"
        >
          <div class="hovereffect-pola">
            <div class="card-title"></div>
            <img
              class="card-img-top"
              src="./assets/img/polas/raquel-chelarte.png"
              alt="Raquel"
            />

            <div class="card-body pola-card-body mt-4">
              <div class="row">
                <div class="col-md-9 col-sm-8 col-8 text-center">
                  <b class="pola-name">Raquel</b>
                </div>
                <div class="col-md-3 col-sm-4 col-4 cart-divider">
                  <i class="fas fa-shopping-cart"></i>
                </div>
              </div>
            </div>
            <div class="overlay">
              <h2>Raquel</h2>
              <div class="overlay-text">
                Estilo: <span style="color: black">Pale Ale</span>
                <br />
                Nivel de alcohol: <span style="color: black"> 5,0%</span>
                <br />
                Nivel de amargor IBU: <span style="color: black"> 33</span>
                <br />
                Amargor: <span style="color: black"> Medio</span>
                <br />
                Casa Cervecera: <span style="color: black">Chelarte</span>
                <br />
                <br />
                Maridaje:
                <span style="color: black"
                  >Hamburguesa y carnes a la parrila
                </span>
              </div>
            </div>
          </div>
        </div>
        <div
          class="card pola-card mr-5"
          style="width: 15rem; border-radius: 15%"
        >
          <div class="hovereffect-pola">
            <div class="card-title"></div>
            <img
              class="card-img-top"
              src="./assets/img/polas/zenaida-chelarte.png"
              alt="Zenaida"
            />

            <div class="card-body pola-card-body mt-4">
              <div class="row">
                <div class="col-md-9 col-sm-8 col-8 text-center">
                  <b class="pola-name">Zenaida</b>
                </div>
                <div class="col-md-3 col-sm-4 col-4 cart-divider">
                  <i class="fas fa-shopping-cart"></i>
                </div>
              </div>
            </div>
            <div class="overlay">
              <h2>Zenaida</h2>
              <div class="overlay-text">
                Estilo: <span style="color: black">: Oat meal Stout</span>
                <br />
                Nivel de alcohol: <span style="color: black"> 5,0%</span>
                <br />
                Nivel de amargor IBU: <span style="color: black"> 32</span>
                <br />
                Amargor: <span style="color: black"> Bajo-Medio</span>
                <br />
                Casa Cervecera: <span style="color: black">Chelarte</span>
                <br />
                <br />
                Maridaje:
                <span style="color: black"
                  >Cordero y postres de chocolate y/o frutos rojos.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div
          class="card pola-card mr-5"
          style="width: 15rem; border-radius: 15%"
        >
        <div class="hovereffect-pola">

       
          <div class="card-title"></div>
          <img
            class="card-img-top"
            src="./assets/img/polas/debora-chelarte.png"
            alt="Debora"
          />

          <div class="card-body pola-card-body mt-4">
            <div class="row">
              <div class="col-md-9 col-sm-8 col-8 text-center">
                <b class="pola-name">Debora</b>
              </div>
              <div class="col-md-3 col-sm-4 col-4 cart-divider">
                <i class="fas fa-shopping-cart"></i>
              </div>
            </div>
          </div>
          <div class="overlay">
            <h2>Debora</h2>
            <div class="overlay-text">
              Estilo: <span style="color: black">: Double IPA</span>
              <br />
              Nivel de alcohol: <span style="color: black"> ,0%</span>
              <br />
              Nivel de amargor IBU: <span style="color: black"> 102</span>
              <br />
              Amargor: <span style="color: black"> Medio</span>
              <br />
              Casa Cervecera: <span style="color: black">Chelarte</span>
              <br />
              <br />
              Maridaje:
              <span style="color: black"
                >Tocineta y carnes curadas
              </span>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
