<div class="wrapper">
  <div class="landing-section">
    <div class="container recipe-text">
      <div class="row cheese-container">
        <div class="col-md-6">
          <div
            class="recipe-title m-5"
            style="line-height: 0.9; text-align: left"
          >
            Con <br />
            Chocolate
          </div>
          
          <hr class="yellow" />
          <div class="">
            De todos los manjares en el mundo el chocolate es el rey de la
            popularidad, los hemos combinado con todo: helado, tortas, frutas…
            pero los maridajes con chocolate y vino son los que más nos
            encantan, porque convierten un sabor perfecto en una experiencia
            mágica; con diferentes sabores yendo y viniendo en tu paladar en un
            baile bien especial, uno que queremos repetir una y otra vez.
            ¿Quieres saber cómo lograr la combinación ideal? ¡Acompáñanos!
          </div>
        </div>
        <div class=" col-md-4">
          <div class="rotate-img">
              <img
          
              src="./assets/img/choco-queso/chocolate.png"
              width="200%"
              height="auto"
            />
          </div>
      
        </div>
      </div>

      <div class="row bg-yellow cheese-container">
        
        <div class="col-md-6 mt-5">
          <h6 class="cheese-name"><b>Chocolate con leche - Porter</b></h6>

          ¿Estás buscando un complemento para tu Una Porter? Un chocolate con
          leche y frutos secos (nueces, almendra, avellana,…) puede darnos mucho
          juego. La mezcla entre una Porter con chocolate y pistachos da grandes
          resultados cerveza.
        </div>
        <div class="col-md-6 mt-2">
          <div class="img-container">
            <img
              src="./assets/img/choco-queso/chocolate-leche.jpg"
              width="90%"
              height="auto"
            />
          </div>
        </div>
      </div>

      <div class="row bg-yellow mt-2 cheese-container">
        <div class="col-md-6 mt-2">
          <div class="img-container">
            <img
              src="./assets/img/choco-queso/chocolatesemiamargo.jpg"
              width="85%"
              height="auto"
            />
          </div>
        </div>
        <div class="col-md-6 mt-5">
          <h6 class="cheese-name"><b>Chocolate semiamargo - IPA</b></h6>

          Para las cervezas con mayor amargor, como las IPA, quizás podría tener
          sentido combinarlas con chocolates más amargos, pero a la hora de la
          verdad esto puede ser excesivo y abrumador. En su lugar podríamos
          elegir un chocolate negro con un porcentaje de cacao de entre el 50 y
          el 70% como máximo.
        </div>
      </div>

      <div class="row bg-yellow mt-2 cheese-container">
        <div class="col-md-6 mt-5">
          <h6 class="cheese-name"><b>Chocolate al 70% - Stout</b></h6>

          El amargo del chocolate debería ayudar a sacar los azúcares inherentes
          de la cerveza y esta a su vez resaltará aún más la intensidad del
          cacao puro, dando lugar a una combinación de sensaciones
          exquisitamente agradable. El chocolate negro con cáscara de naranja o
          pasas podría ser una buena opción para estas cervezas
        </div>
        <div class="col-md-6 mt-2">
          <div class="img-container">
            <img
              src="./assets/img/choco-queso/chocolate-70.jpg"
              width="85%"
              height="auto"
            />
          </div>
        </div>
      </div>

      <div class="row bg-yellow mt-2 cheese-container">
        <div class="col-md-6 mt-2">
          <div class="img-container">
            <img
              src="./assets/img/choco-queso/chocolate-40.jpg"
              width="85%"
              height="auto"
            />
          </div>
        </div>
        <div class="col-md-6 mt-5">
          <h6 class="cheese-name"><b>Chocolate al 40% - Lager</b></h6>

          El emparejamiento con cervezas lager, incluidos Pilsner y Bocks, es a
          menudo una cuestión de gusto personal o de encontrar notas específicas
          en una cerveza en concreto. Es quizás el emparejamiento más complicado
          y que sin duda alguna requerirá de varias pruebas hasta dar con alguno
          que realmente nos satisfaga. No obstante el porcentaje de cacao que
          deberemos barajar debería ser inferior al 40-50%.
        </div>
      </div>
    </div>
  </div>
</div>
