<div class="wrapper">
  <div
    class="page-header page-header-small"
    data-parallax="true"
    style="background-image: url('./assets/img/banner2.jpg')"
  >
    <div class="banner-text">
      Arma un plan parchadito y <br />
      disfruta de unas polas
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="card">
            <div class="card-body">
              <ngb-accordion
                [destroyOnHide]="false"
                [closeOthers]="true"
                activeIds="panel1"
              >
                <ngb-panel id="panel1">
                  <ng-template ngbPanelTitle>
                    <span>Estilo</span>
                  </ng-template>
                  <ng-template ngbPanelContent>
                    <a href="tipos/ale">Ale</a>
                    <hr />
                    <a href="tipos/ipa">Ipa</a>
                    <hr />
                    <a href="tipos/stout">Stout</a>
                    <hr />
                    <a href="tipos/lager">Lager</a>
                  </ng-template>
                </ngb-panel>
                <ngb-panel id="panel2">
                  <ng-template ngbPanelTitle>
                    <span>Amargo </span>
                  </ng-template>
                  <ng-template ngbPanelContent>
                    <a href="tipos/bajo">Bajo</a>
                    <hr />
                    <a href="tipos/bajo-medio">Bajo/Medio</a>
                    <hr />
                    <a href="tipos/medio">Medio</a>
                    <hr />
                    <a href="tipos/alto">Alto</a>
                  </ng-template>
                </ngb-panel>
              </ngb-accordion>
            </div>
          </div>
        </div>
        <div class="col-md-9">
          <div class="row justify-content-center mt-5">
            <div class="card pola-card mr-3">
              <div class="hovereffect-pola">
                <div class="card-title"></div>
                <img
                  class="card-img-top"
                  src="./assets/img/polas/carmela-chelarte.png"
                  alt="Carmela"
                />

                <div class="card-body pola-card-body mt-4">
                  <div class="row">
                    <div class="col-md-9 col-sm-8 col-8 text-center">
                      <b class="pola-name">Carmela</b>
                    </div>
                    <div class="col-md-3 col-sm-4 col-4 cart-divider">
                      <i class="fas fa-shopping-cart"></i>
                    </div>
                  </div>
                </div>
                <div class="overlay">
                  <h2>Carmela</h2>
                  <div class="overlay-text">
                    Estilo: <span style="color: black">Brown Ale</span>
                    <br />
                    Nivel de alcohol: <span style="color: black"> 5.0%</span>
                    <br />
                    Nivel de amargor IBU: <span style="color: black"> 30</span>
                    <br />
                    Amargor: <span style="color: black">Medio</span>
                    <br />
                    Casa Cervecera: <span style="color: black">Chelarte</span>
                    <br />
                    <br />
                    Maridaje:
                    <span style="color: black"
                      >Carnes rojas y postres con caramelo
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="card pola-card mr-3"
              style="width: 15rem; border-radius: 15%"
            >
              <div class="hovereffect-pola">
                <div class="card-title"></div>
                <img
                  class="card-img-top"
                  src="./assets/img/polas/debora-chelarte.png"
                  alt="Debora"
                />

                <div class="card-body pola-card-body mt-4">
                  <div class="row">
                    <div class="col-md-9 col-sm-8 col-8 text-center">
                      <b class="pola-name">Debora</b>
                    </div>
                    <div class="col-md-3 col-sm-4 col-4 cart-divider">
                      <i class="fas fa-shopping-cart"></i>
                    </div>
                  </div>
                </div>
                <div class="overlay">
                  <h2>Debora</h2>
                  <div class="overlay-text">
                    Estilo: <span style="color: black">: Double IPA</span>
                    <br />
                    Nivel de alcohol: <span style="color: black"> ,0%</span>
                    <br />
                    Nivel de amargor IBU: <span style="color: black"> 102</span>
                    <br />
                    Amargor: <span style="color: black"> Medio</span>
                    <br />
                    Casa Cervecera: <span style="color: black">Chelarte</span>
                    <br />
                    <br />
                    Maridaje:
                    <span style="color: black">Tocineta y carnes curadas </span>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="card pola-card mr-3"
              style="width: 15rem; border-radius: 15%"
            >
              <div class="hovereffect-pola">
                <div class="card-title"></div>
                <img
                  class="card-img-top"
                  src="./assets/img/polas/India_Hakuna_png.png"
                  alt="India"
                />

                <div class="card-body pola-card-body mt-4">
                  <div class="row">
                    <div class="col-md-9 col-sm-8 col-8 text-center">
                      <b class="pola-name">India</b>
                    </div>
                    <div class="col-md-3 col-sm-4 col-4 cart-divider">
                      <i class="fas fa-shopping-cart"></i>
                    </div>
                  </div>
                </div>
                <div class="overlay">
                  <h2>India</h2>
                  <div class="overlay-text">
                    Estilo: <span style="color: black">: IPA</span>
                    <br />
                    Nivel de alcohol: <span style="color: black"> 6.5%</span>
                    <br />
                    Nivel de amargor IBU: <span style="color: black"> 66</span>
                    <br />
                    Amargor: <span style="color: black"> Medio</span>
                    <br />
                    Casa Cervecera: <span style="color: black">Hakuna</span>
                    <br />
                    <br />
                    Maridaje:
                    <span style="color: black">Queso tipo Gorgonzola </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-center mt-5">
            <div
              class="card pola-card mr-3"
              style="width: 15rem; border-radius: 15%"
            >
              <div class="hovereffect-pola">
                <div class="card-title"></div>
                <img
                  class="card-img-top"
                  src="./assets/img/polas/raquel-chelarte.png"
                  alt="Raquel"
                />

                <div class="card-body pola-card-body mt-4">
                  <div class="row">
                    <div class="col-md-9 col-sm-8 col-8 text-center">
                      <b class="pola-name">Raquel</b>
                    </div>
                    <div class="col-md-3 col-sm-4 col-4 cart-divider">
                      <i class="fas fa-shopping-cart"></i>
                    </div>
                  </div>
                </div>
                <div class="overlay">
                  <h2>Raquel</h2>
                  <div class="overlay-text">
                    Estilo: <span style="color: black">Pale Ale</span>
                    <br />
                    Nivel de alcohol: <span style="color: black"> 5,0%</span>
                    <br />
                    Nivel de amargor IBU: <span style="color: black"> 33</span>
                    <br />
                    Amargor: <span style="color: black"> Medio</span>
                    <br />
                    Casa Cervecera: <span style="color: black">Chelarte</span>
                    <br />
                    <br />
                    Maridaje:
                    <span style="color: black"
                      >Hamburguesa y carnes a la parrila
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="card pola-card mr-3"
              style="width: 15rem; border-radius: 15%"
            >
              <div class="hovereffect-pola">
                <div class="card-title"></div>
                <img
                  class="card-img-top"
                  src="./assets/img/polas/wicca-locura-colectiva.png"
                  alt="Locura Colectiva"
                />

                <div class="card-body pola-card-body mt-4">
                  <div class="row">
                    <div class="col-md-9 col-sm-8 col-8 text-center">
                      <b class="pola-name" style="font-size: 16px"
                        >Locura Colectiva</b
                      >
                    </div>
                    <div class="col-md-3 col-sm-4 col-4 cart-divider">
                      <i class="fas fa-shopping-cart"></i>
                    </div>
                  </div>
                </div>
                <div class="overlay">
                  <h2 ty>Locura Colectiva</h2>
                  <div class="overlay-text">
                    Estilo: <span style="color: black"> Ale</span>
                    <br />
                    Nivel de alcohol: <span style="color: black"> 5,0%</span>
                    <br />
                    Nivel de amargor IBU: <span style="color: black"> 33</span>
                    <br />
                    Amargor: <span style="color: black">Medio</span>
                    <br />
                    Casa Cervecera: <span style="color: black">Wicca</span>
                    <br />
                    <br />
                    Maridaje:
                    <span style="color: black">Queso azul</span>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="card pola-card mr-3"
              style="width: 15rem; border-radius: 15%"
            >
              <div class="hovereffect-pola">
                <div class="card-title"></div>
                <img
                  class="card-img-top"
                  src="./assets/img/polas/LaTrocha.png"
                  alt="La trocha"
                />
                <div class="card-body pola-card-body mt-4">
                  <div class="row">
                    <div class="col-md-9 col-sm-8 col-8 text-center">
                      <b class="pola-name">La Trocha</b>
                    </div>
                    <div class="col-md-3 col-sm-4 col-4 cart-divider">
                      <i class="fas fa-shopping-cart"></i>
                    </div>
                  </div>
                </div>
                <div class="overlay">
                  <h2>La Trocha</h2>
                  <div class="overlay-text">
                    Estilo: <span style="color: black">IPA</span>
                    <br />
                    Nivel de alcohol: <span style="color: black"> 5,5%</span>
                    <br />
                    Nivel de amargor IBU:
                    <span style="color: black"> 57,5</span>
                    <br />
                    Amargor: <span style="color: black">Medio</span>
                    <br />

                    <br />
                    Maridaje:
                    <span style="color: black"
                      >Crema catalana y queso suave
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-center mt-5">
            <div
              class="card pola-card mr-3"
              style="width: 15rem; border-radius: 15%"
            >
              <div class="hovereffect-pola">
                <div class="card-title"></div>
                <img
                  class="card-img-top"
                  src="./assets/img/polas/Wicca-sangre.png"
                  alt="Wicca sangre"
                />

                <div class="card-body pola-card-body mt-4">
                  <div class="row">
                    <div class="col-md-9 col-sm-8 col-8 text-center">
                      <b class="pola-name" style="font-size: 13px"
                        >Sangre de mis enemigos</b
                      >
                    </div>
                    <div class="col-md-3 col-sm-4 col-4 cart-divider">
                      <i class="fas fa-shopping-cart"></i>
                    </div>
                  </div>
                </div>
                <div class="overlay">
                  <h2>Sangre de mis enemigos</h2>
                  <div class="overlay-text">
                    Estilo: <span style="color: black"> Red Ale</span>
                    <br />
                    Nivel de alcohol: <span style="color: black"> 5,0%</span>
                    <br />
                    Nivel de amargor IBU: <span style="color: black"> 33</span>
                    <br />
                    Amargor: <span style="color: black"> Medio</span>
                    <br />
                    Casa Cervecera: <span style="color: black">Wicca</span>
                    <br />
                    <br />
                    Maridaje:
                    <span style="color: black"
                      >Hamburguesa y carnes a la parrila
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="card pola-card mr-5"
              style="width: 15rem; border-radius: 15%"
            >
              <div class="hovereffect-pola">
                <div class="card-title"></div>
                <img
                  class="card-img-top"
                  src="./assets/img/polas/LaRoja.png"
                  alt="La Roja"
                />

                <div class="card-body pola-card-body mt-4">
                  <div class="row">
                    <div class="col-md-9 col-sm-8 col-8 text-center">
                      <b class="pola-name">La Roja</b>
                    </div>
                    <div class="col-md-3 col-sm-4 col-4 cart-divider">
                      <i class="fas fa-shopping-cart"></i>
                    </div>
                  </div>
                </div>
                <div class="overlay">
                  <h2>La Roja</h2>
                  <div class="overlay-text">
                    Estilo: <span style="color: black"> IPA</span>
                    <br />
                    Nivel de alcohol: <span style="color: black"> 5,5%</span>
                    <br />
                    Nivel de amargor IBU:
                    <span style="color: black"> 57,5</span>
                    <br />
                    Amargor: <span style="color: black">Medio</span>

                    <br />
                    <br />
                    Maridaje:
                    <span style="color: black"
                      >Crema catalana y queso suave</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
