<div class="wrapper">
  <div class="landing-section">
    <div class="container">
      <div class="recipe-title">Recetas poderosas</div>
      <h4 class="recipe-subtitle m-2 mb-5">
        La receta perfecta si existe solo tienes que encontrarla
      </h4>
    </div>
    <div
      class="page-header page-header-small"
      data-parallax="true"
      style="background-image: url('./assets/img/recetas/Chuletas.jpg')"
    ></div>
    <div class="title">Chuletas a la cerveza</div>
    <div class="container">
      <hr class="yellow" />
      <div class="recipe-text mb-3">
        Para un día festivo una chuleta siempre es una buena opción y mejor aún
        si esta se acompaña con una cerveza fría
      </div>
      <div class="subtitle mt-5">Ingredientes</div>
      <img
        src="./assets/img/recetas/chuletas-ingredientes.png"
        class="mx-auto d-block"
        width="90%"
        alt="Ingredientes chuletas"
      />
      <div class="subtitle mt-5">Preparación</div>
      <div class="recipe-text mt-4">
        <ol>
          <li>
            Prepara una mezcla de cerveza, ajo picado, comino, laurel, tomillo,
            romero y marina la carne por 1 hora.
          </li>
          <li>
            Mientras la carne está lista, rebana en rodajas la cebllo, pica
            finamente el ajo y frielos en una olla con aceite y mantequilla,
            acompaña de comino.
          </li>
          <li>
            Baja a fuego lento cuando la cebolla tome un tono transparente.
            Incorpora 1 taza de cerveza y mezcla perfectamente. Incorpora las
            chuletas y cocina hasta que estén cocidas. Incorpora las papas
            previamente cocidas.
          </li>
          <li>
            Sirve con una cucharada de mostaza y salsa de cerveza, decora con
            romero.
          </li>
        </ol>
        <b>Finalmente, ¡Disfruta!</b>
      </div>
    </div>
  </div>
</div>
