<div class="wrapper">
  <div class="page-header page-header-small">
    <div class="carousel">
      <ngb-carousel>
        <ng-template ngbSlide>
          <img
            src="./assets/img/banner home/Chelarte-banner.jpg"
            style="width: 100%; height: auto"
          />
          <div class="centered">
            <div class="title">¿Se une a ¡Hola Pola!</div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img
            src="./assets/img/banner home/banner1.jpg"
            style="width: 100%; height: auto"
          />
          <div class="centered">
            <div class="title" style="color: #eccf4d">
              ¿Estás desparchado? <br />
              <br />
              <br />
            </div>

            <div class="text" style="color: white">
              ¡Arma tu plan y suscribete!
              <br />
              <a class="btn btn-success mt-5" href="/polas">¡Sin mente!</a>
            </div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img
            src="./assets/img/banner home/banner2.jpg"
            style="width: 100%; height: auto"
          />
          <div class="centered">
            <div class="title" style="color: #eccf4d">
              ¡Qué nunca nos falte la pola! <br />
              <br />
              <br />
            </div>

            <div class="text" style="color: white">
              Antojate de nuestras cervezas artesanales nacionales
              <br />
              <a class="btn btn-success mt-5" href="/polas">¡Vamos!</a>
            </div>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>

  <div class="container">
    <div>
      <img
        style="width: 100%; height: auto"
        src="./assets/img/banner home/banner-pasos.jpg"
      />
    </div>

    <h5 class="title">Casas cerveceras</h5>
    <div class="card-columns card-group mr-auto ml-auto">
      <div class="card">
        <div class="hovereffect">
          <img
            class="card-img-top"
            src="./assets/img/polas/apache.jpg"
            alt="Apache"
          />
          <div class="overlay">
            <h2>Apache</h2>
            <div class="text">
              Cerveza apache es una cerveza hecha en la ciudad de Cali
              <br />
              <a class="btn btn-success mt-5" href="/casas/apache">Ver más</a>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="hovereffect">
          <img
            class="card-img-top"
            src="./assets/img/polas/chelarte.jpg"
            alt="Chelarte"
          />

          <div class="overlay">
            <h2>Chelarte</h2>
            <div class="text">
              La cerveza artesanal el corazón y alma de la industria cervecera
              <br />
              <a class="btn btn-success mt-5" href="/casas/chelante">Ver más</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="hovereffect">
          <img
            class="card-img-top"
            src="./assets/img/polas/wicca.jpg"
            alt="Wicca"
          />
          <div class="overlay">
            <h2>Wicca</h2>
            <div class="text">
              Somos las brujas de siempre, hemos vuelto más frías que nunca
              <br />
              <a class="btn btn-success mt-5" href="/casas/wicca">Ver más</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="Sultana">
          <div class="hovereffect">
            <img
              class="card-img-top"
              src="./assets/img/polas/sultana.jpg"
              alt="Sultana"
            />
            <div class="overlay">
              <h2>Sultana</h2>
              <div class="text">
                Una cerveza artesanal con experiencias únicas.
                <br />
                <a class="btn btn-success mt-5" href="/casas/sultana"
                  >Ver más</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="hovereffect">
          <img
            class="card-img-top"
            src="./assets/img/polas/hakuna.jpg"
            alt="Hakuna"
          />
          <div class="overlay">
            <h2>Hakuna</h2>
            <div class="text">
              Cerveza Hakuna es una cerveza artesanal
              <a class="btn btn-success mt-5" href="/casas/hakuna">Ver más</a>
            </div>
            <br />
          </div>
        </div>
      </div>
      <div class="card">
        <div class="hovereffect">
          <img
            class="card-img-top"
            src="./assets/img/polas/kalima.jpg"
            alt="Kalima"
          />
          <div class="overlay">
            <h2>Kalima</h2>
            <div class="text">
              Cerveza producida artesanalmente en el Lago Calima, Valle del
              Cauca.
              <br />
              <a class="btn btn-success mt-5" href="/casas/kalima">Ver más</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="hovereffect">
          <img
            class="card-img-top"
            src="./assets/img/polas/la-trocha.jpg"
            alt="La Trocha"
          />
          <div class="overlay">
            <h2>La Trocha</h2>
            <div class="text">
              Cerveza artesanla que nació gracias al proceso de paz.
              <br />
              <a class="btn btn-success mt-5" href="/casas/la-trocha"
                >Ver más</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="hovereffect">
          <img
            class="card-img-top"
            src="./assets/img/polas/la-roja.jpg"
            alt="La roja"
          />
          <div class="overlay">
            <h2>La Roja</h2>
            <div class="text">
              La Roja es una cerveza artesanal con 5.5 grado de alcohol.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row flex-grow-1">
      <div class="col-md-6">
        <video
          style="width: 50%; height: auto"
          class="center"
          controls
          autoplay
          loop
        >
          <source src="./assets/img/animaciones/somos.mp4" type="video/mp4" />
        </video>
      </div>
      <div class="col-md-6">
        <p class="mt-5">
          !Hola Pola! es una plataforma dedicada a los emprendimientos sobre
          cerveza artesanal emergentes, nace desde el gusto y la pasión que nos
          evoca estte quehacer, es por esto que buscamos hacer protagonistas a
          las experiencias e historias detrás de la elaboración de cada bebida,
          así mismo pretendemos darle un espacio de difusión a los proyecto
          novedosos de este ámbito.
          <br />
          <br />
          Este proyecto es posible gracias a la participación activa de 4
          diseñadores gráficos de séptimo semestre, los cuales guiados por los
          conocimientos aprendidos vieron la oportunidad de poner en la mesa de
          trabajo una propuesta innovadora, fresca y consciente que permitiera
          el reconocimiento y la difusión
        </p>
      </div>
    </div>
  </div>
</div>
