<div class="wrapper">
  <div class="landing-section">
    <div class="container">
      <div class="polas-title">Casas Cerveceras</div>
      <hr class="yellow" />

      <div class="row recipe-text text-container">
        <div class="col-md-6">
          <div class="img-container">
            <img
              src="./assets/img/polas/ApacheLogo.png"
              width="70%"
              height="auto"
            />
          </div>
        </div>
        <div class="col-md-6 mt-5">
          Cerveza Apache es una cerveza artesanal hecha en la ciudad de Cali en
          el antiguo, bohemio y colonial barrio de San Antonio.
        </div>
      </div>

      <div class="subtitle mt-5 mb-5">Conoce sus cervezas</div>

      <div class="col d-flex justify-content-center">
        <div
          class="card pola-card mr-5"
          style="width: 15rem; border-radius: 15%"
        >
          <div class="hovereffect-pola">
            <div class="card-title"></div>
            <img
              class="card-img-top"
              src="./assets/img/polas/apache.png"
              alt="Apache"
            />

            <div class="card-body pola-card-body mt-4">
              <div class="row">
                <div class="col-md-9 col-sm-8 col-8 text-center">
                  <b class="pola-name">Apache</b>
                </div>
                <div class="col-md-3 col-sm-4 col-4 cart-divider">
                  <i class="fas fa-shopping-cart"></i>
                </div>
              </div>
            </div>
            <div class="overlay">
              <h2>Apache</h2>
              <div class="overlay-text">
                Estilo: <span style="color: black">: IPA</span>
                <br />
                Nivel de alcohol: <span style="color: black"> 5,0%</span>
                <br />
                Nivel de amargor IBU: <span style="color: black"> 27</span>
                <br />
                Amargor: <span style="color: black"> Bajo</span>
                <br />
                Casa Cervecera: <span style="color: black">Apache</span>
                <br />
                <br />
                Maridaje:
                <span style="color: black">Queso azul </span>
              </div>
            </div>
          </div>
        </div>
        <div
          class="card pola-card mr-5"
          style="width: 15rem; border-radius: 15%"
        >
          <div class="hovereffect-pola">
            <div class="card-title"></div>
            <img
              class="card-img-top"
              src="./assets/img/polas/Apache-stout.png"
              alt="Apache"
            />

            <div class="card-body pola-card-body mt-4">
              <div class="row">
                <div class="col-md-9 col-sm-8 col-8 text-center">
                  <b class="pola-name">Apache</b>
                </div>
                <div class="col-md-3 col-sm-4 col-4 cart-divider">
                  <i class="fas fa-shopping-cart"></i>
                </div>
              </div>
            </div>
            <div class="overlay">
              <h2>Debora</h2>
              <div class="overlay-text">
                Estilo: <span style="color: black">: Stout</span>
                <br />
                Nivel de alcohol: <span style="color: black"> 5,0%</span>
                <br />
                Nivel de amargor IBU: <span style="color: black"> 60</span>
                <br />
                Amargor: <span style="color: black"> Alto</span>
                <br />
                Casa Cervecera: <span style="color: black">Apache</span>
                <br />
                <br />
                Maridaje:
                <span style="color: black">Estofados </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
